{% extends 'layouts/main_base.html' %}

{% load static %}

{% block content %}
<div class="centered" >
    <div style="margin-top: 120px"></div>
    <h2>Perric Radiological System</h2>
    <h4><span style="color: #00008b;">Utilizing Reject Analysis to improve Radiology</span></h4>
    <div class="space"></div>
    <img width="250px" src="{% static 'assets/images/tbh.png' %}" alt="The Bank Hospital">
    <div class="space"></div>
    <h5><span style="color: #00008b;">Welcome</span>, enjoy your time with the system today.</h5>
    <div class="space"></div>
    <a class="btn btn-secondary btn-lg" role="button" href="{% url 'admin:login' %}" style="width: 120px">Admin</a>

</div>
{% endblock %}

