{% extends 'layouts/main_base.html' %}

{% load static %}

{% comment %} {% block extra_css %}
    <!-- custom style -->
    <link  rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
{% endblock %} {% endcomment %}

{% block content %}
    <div class="centered main_margin_top welcome-page">
        <h2 class="lauch_heading">{{ app_name }}</h2>
        <div class="spacer_two"></div>
        <h4 class="blue_word">Utilizing Reject Analysis to improve Radiology</h4>
        <div class="spacer_one"></div>
        <img width="250px" src="{% static 'assets/images/tbh.png' %}" alt="The Bank Hospital">
        <div class="spacer_one"></div>
        <h5><span class="blue_word">Welcome</span><span class="deep-blue-word">, enjoy your time with the system today.</span></h5>
        <div class="spacer_one"></div>        
        <a class="btn admin-btn btn-lg" role="button" href="{% url 'admin:index' %}" style="width: 170px">Staff</a>
    </div>
{% endblock %}

