{% extends 'layouts/main_base.html' %}

{% load static %}

{% block extra_css %}
    {{ block.super }} 
    <!-- custom style -->
    <link  rel="stylesheet" type="text/css" href="{% static 'assets/css/admin_styles.css' %}" />
    <style>
        ul.errorlist.nonfield, .error {
            border-left: 2px solid red;
            color: rgb(91, 0, 0);
            background-color: rgba(244, 210, 210, .5);
        }
        .error {
            margin-top: 15px;
            padding-left: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg bg-primary login-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'launch:welcome' %}">
                <img src="{% static 'assets/images/tbh.png' %}" alt="The Bank Hospital" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
            </button>
            <div class="app-name">
                TBH Radiological QMS
            </div>
            <div class="collapse navbar-collapse justify-content-end login-nav" id="navbarSupportedContent">
                <ul class="navbar-nav me-5 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'launch:welcome' %}">
                            <i class="fa-solid fa-arrow-left"></i>
                            Back
                        </a>
                    </li>                
                </ul>
                
            </div>
        </div>
    </nav>

    <!--End of Navigation bar-->
    <div class="spacer_three"></div>
    <div class="enclosure">
        <div class="wrapper">
            <div class="form-box login">
                <h2 class="centered">Login</h2>               
                
                <form method="post" action="{% url 'admin:login' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                        <ul class="errorlist nonfield">
                            <li>Please enter the correct username and password for a staff account. Note that both fields may be case-sensitive.</li>
                        </ul>
                    {% endif %}
                    <div class="input-box">
                        <span class="form-icon"><i class="fa-solid fa-user"></i></span>
                        <input type="text"
                            name="{{ form.username.name }}"
                            id="{{ form.username.id_for_label }}"
                         required>
                        <label for="{{ form.username.id_for_label }}">Username</label>
                    </div>
                    <div class="input-box">
                        <span class="form-icon"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" 
                        name="{{ form.password.name }}"
                        id="{{ form.password.id_for_label }}"
                         required>
                        <label for="{{ form.password.id_for_label }}">Password</label>
                    </div>
                    
                    <button type="submit" class="btn" value="Login">Login</button>
                    
                </form>
                {% if form.errors %}
                    <p class="error">Please correct the errors above.</p>
                {% endif %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
        
            </div>

        </div>
    </div>
{% endblock %}

