#header {
    color: rgb(210, 220, 249);
    background: #002857;
}

#branding h1 {
    color: rgb(210, 220, 249);
}

.theme-toggle svg.theme-icon-when-auto,
.theme-toggle svg.theme-icon-when-dark,
.theme-toggle svg.theme-icon-when-light {
    fill: var(--header-link-color);
    color: #002857;
}


.module h2,
.module caption,
.inline-group h2 {
    background: #0074cc;
}

div.breadcrumbs {
    background: transparent;
}

.detail_main {
    background-color: rgb(255, 255, 255);
    padding: 40px 30px;
}

.detail_side {
    border-right: 2px solid#d4e9ff;
}

.single_detail {
    /* font-size: .9em; */
    margin-bottom: 20px;
}

.detail_label {
    font-weight: bold !important;
    text-transform: capitalize;
}

.identity_tag {
    color: #002857;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    background-color: #d4e9ff;
    margin-bottom: 30px;
}

.sub_sections {
    padding-top: 30px;
    border-top: 2px solid#d4e9ff;
}

.space {
    margin-top: 50px;
}

.section_title {
    margin-bottom: 20px;
    color: #002857;
}

.title_add {
    display: flex;
    justify-content: space-between;
}

.add_doc, .add_doc_one {
    font-size: 16px;
}

.add_doc{
    padding: 10px 0 15px 0;
    text-align: right;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}